main {
    width: 500px;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
    padding: 30px;
}
h1 {
    font-weight: bold;
    text-align: center;
}
input[type="text"] {
    margin-top: 30px;
    width: 300;
    outline: 0;
    border: none;
    font-size: 20px;
    border-bottom: 1px solid lightgray;
}
button[type="submit"] {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
}
ul {
    margin: 50px 0;
    padding: 0 30px;
    list-style: none;
    display: block;
}
li {
    display: flex;
    align-self: center;
    font-size: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
}
input[type="checkbox"] {
    cursor: pointer;
    width: 15px;
    height: 15px;
}
#clear {
    display: none;
    position: absolute;
    right: 15px;
    bottom: 15px;
    padding: 5px 10px;
    background: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}